{{!< default}}

{{#post}}

{{>header}}

<section class="cover">
  <section class="cd-intro {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"></section>
  <section class="post_header">
      <div class="tag">{{tags separator=" "}}</div>
      <h1>{{title}}</h1>
      <div class="header_meta">{{#author}}by <a href="{{url}}">{{name}}</a> on {{/author}}<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time></div>
  </section>
</section>

<main class="cd-main-content">
    <article class="{{post_class}}">

        <section class="cd-container">
            {{content}}
        </section>

        {{>share}}
    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
