{{!< default}}
<header class="cd-header">
  <div class="cd-logo">{{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>{{/if}}</div>
  <nav>
			<ul class="cd-secondary-nav">
        {{navigation}}
      </ul>
	</nav> <!-- navigation bar for desktop -->

  {{#if @blog.navigation}}<a class="cd-primary-nav-trigger" href="#">
		<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
	</a> <!-- menu bar for mobile -->{{/if}}

  <a href="javascript:history.back()"><span class="go-back icon-arrow-left"></span></a>
</header>

<nav>
		<ul class="cd-primary-nav">
      <li class="cd-label" style="margin-top:0.5rem;">Explore Website</li>
      {{navigation}}
      <li class="cd-label">About Us</li>
      <p>{{@blog.description}}</p>
      <li class="cd-label">Subscribe to {{@blog.title}}</li>
      {{>subscriber}}
      <li class="cd-label">Contact</li>

    </ul>
</nav>
